.ProjectPlanningPage {
  padding: 20px;
}

.button {
  margin-bottom: 20px;
}

.select {
  margin-bottom: 20px;
  margin-right: 10px;
}

.taskContent {
  display: flex;
  align-items: center;
}

.executantImage {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
