.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.noProjects {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.noProjects h1 {
  margin: 20px 0;
}

.noProjects p {
  margin: 10px 0;
}

.backButton {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--btn-background1);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.backButton:hover {
  background-color: var(--btn-background2);
}
.controlPanel {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content:space-between;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 300px;
  padding-top: 10px;
}

.iconButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--btn-background2);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition: width 0.3s, border-radius 0.3s, background-color 0.3s;
  overflow: hidden;
  position: relative;
}

.iconButton:hover {
  width: 80px;
  border-radius: 50px;
  background-color: var(--btn-background1);
}

.iconButton .svgIcon {
  width: 20px;
  transition: width 0.3s, transform 0.3s;
  fill: white;
}

.iconButton:hover .svgIcon {
  width: 30px;
  transform: translateY(+400%);
}

.iconButton::after {
  content: attr(data-text);
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: +90px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

.iconButton:hover::after {
  bottom: 15px;
  opacity: 1;
}
.selectProjectDiv {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content:center;
  width: 100%;
  padding-top: 7px;
  margin-right: 20px;
}
.selectProjectDiv h4 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--text-color4);
  font-weight: 600;
  align-self: center;
}

.selectProjectDiv select{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.selectProjectDiv select:focus {
  border-color: var(--btn-background1);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.viewToggle {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.taskManager {
  flex-grow: 1;
  width: 100%;
}