body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: var(--background-color1);
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.theme-light {
  --header-color: white;
  --btn-color1: white;
  --btn-color2: black;
  --btn-background1: #17a2b8;
  --btn-background2: #117a8b;
  --background-color1: rgba(240, 248, 255);
  --card-background: rgba(255, 255, 255, 1); 
  --card-border: rgba(0, 0, 0, 0.1); 
  --color-planning: #ffeb3b;
  --color-ready: #4caf50;
  --color-in-progress: #2196f3;
  --color-finished: #9c27b0;
  --color-cancelled: #f44336;
  --text-color: black;
  --text-color2: white;
  --text-color3: white;
  --text-color4: black;
  --positive-color: #50C878;
  --negative-color: #FF6347;
  --disabled-background:  #edf0f0;


}

body.theme-dark {
  --header-color: #343a40;
  --btn-color1: #e0e0e0;
  --btn-color2: #121212; 
  --btn-background1: #008080; 
  --btn-background2: #5F9EA0; 
  --background-color1: black; 
  --card-background: rgba(18, 18, 18, 1); 
  --card-border: rgba(255, 255, 255, 0.1); 
  --color-planning: #ffc107; 
  --color-ready: #28a745; 
  --color-in-progress: #17a2b8; 
  --color-finished: #6f42c1; 
  --color-cancelled: #dc3545; 
  --text-color: black;
  --text-color2: white;
  --text-color3: black;
  --text-color4: white;
  --positive-color: #50C878;
  --negative-color: #FF6347;

}

.react-select__input {
  opacity: 1 !important;
}
