body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: var(--background-color1);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body.theme-light {
  --header-color: white;
  --btn-color1: white;
  --btn-color2: black;
  --btn-background1: #17a2b8;
  --btn-background2: #117a8b;
  --background-color1: rgba(240, 248, 255);
  --profile-second-background-color: rgba(91, 151, 203, 0.5);
  --profile-thirth-background-color: rgba(240, 248, 255);
  --card-background: rgba(255, 255, 255, 1);
  --card-border: rgba(0, 0, 0, 0.1);
  --color-planning: #f3ea9d;
  --color-ready: #8dd28f;
  --color-in-progress: #73b6ec;
  --color-finished: #cc86d9;
  --color-cancelled: #f0766d;
  --text-color: black;
  --text-color2: white;
  --text-color3: white;
  --text-color4: black;
  --text-color5: black;
  --positive-color: #50c878;
  --negative-color: #ff6347;
  --disabled-background: #edf0f0;
  --vacancies-color: #8458f4;
  --card-shadow: rgba(4, 0, 255, 0.155) 0px 7px 20px 0px;
  --briefcase-base-color: rgb(80, 246, 255);
  --active-aside-item-color: #b9cbdd;
  --hover-aside-item-color: #dbe1e8;
  --atribute-editor-background: #ffffff;
  --input-select-textarea-background: rgba(255, 255, 255, 1);
  --listItem-background: rgba(245, 232, 220, 0.271);
  --table-background: rgba(255, 255, 255, 0.2);
  --table-header-background: rgba(232, 240, 238, 0.27);
  --planned-task-color: #fae20e;
  --in-progress-task-color: #307fbf;
  --finished-task-color: #cc86d9;
  --task-base-color: #0a404e62;
  --task-hover-accesory-color: #055063;
  --dependency-line-color: #1d908a;
  --dependency-line-hover-color: #280c8b;
  --gantt-graphic-line-color: #e0e0e04b;
  --weekend-color: #a6c7cd4c;
  --today-color: #c8e281ad;
  --timeline-background-color: #b4c6dd;
  --task-title-gantt-color: #f3f3e9dd;
  --gantt-graphic-background: #f3f3e900;
  --report-graphic-color1: #f3ea9d;
  --report-graphic-color2: #8dd28f;
  --report-graphic-color3: #73b6ec;
  --report-graphic-color4: #cc86d9;
  --report-graphic-color5: #f0766d;
  --report-graphic-color6: #f3ea9d;
  --report-graphic-background: #f3f3e9;
  --chat-button-background: #80a7ba;
  --row-hover-color: #b9cbdd;
}

body.theme-dark {
  --header-color: #343a40;
  --btn-color1: #e0e0e0;
  --btn-color2: #ffffff;
  --btn-background1: #1e5b89;
  --btn-background2: #07557c;
  --background-color1: black;
  --profile-second-background-color: rgba(60, 60, 60, 0.5);
  --profile-thirth-background-color: rgb(50, 52, 54);
  --card-background: rgba(60, 60, 60, 1);
  --card-border: rgba(255, 255, 255, 0.1);
  --color-planning: #ffc107;
  --color-ready: #28a745;
  --color-in-progress: #17a2b8;
  --color-finished: #6f42c1;
  --color-cancelled: #dc3545;
  --text-color: black;
  --text-color2: white;
  --text-color3: black;
  --text-color4: white;
  --text-color5: #c0a9a9;
  --positive-color: #50c878;
  --negative-color: #ff6347;
  --vacancies-color: #a4c7fc;
  --card-shadow: rgba(252, 252, 252, 0.209) 2px 2px 7px 2px;
  --briefcase-base-color: rgb(39, 59, 237);
  --active-aside-item-color: #2b435d;
  --hover-aside-item-color: #424e5c;
  --atribute-editor-background: #d5d7de30;
  --input-select-textarea-background: rgba(60, 60, 60, 1);
  --listItem-background: rgba(255, 255, 255, 0.163);
  --table-background: rgba(84, 90, 113, 0.128);
  --table-header-background: rgba(218, 228, 231, 0.866);
  --planned-task-color: #757bea;
  --in-progress-task-color: #eadd54;
  --finished-task-color: #5cc75e;
  --task-base-color: #595656;
  --task-hover-accesory-color: #e8e6b5;
  --dependency-line-color: #e5e6c1;
  --dependency-line-hover-color: #55ff00;
  --gantt-graphic-line-color: #0f0e0e;
  --weekend-color: #100f0f67;
  --today-color: #6f6f6964;
  --timeline-background-color: #4b624d;
  --task-title-gantt-color: #fefefe;
  --gantt-graphic-background: #232324;
  --report-graphic-color1: #ffc107;
  --report-graphic-color2: #28a745;
  --report-graphic-color3: #17a2b8;
  --report-graphic-color4: #6f42c1;
  --report-graphic-color5: #dc3545;
  --report-graphic-color6: #ffc107;
  --report-graphic-background: #232324;
  --chat-button-background: #232324;
  --row-hover-color: #2b435d;

  
}

.react-select__input {
  opacity: 1 !important;
  color: var(--text-color4) !important;
}
.css-lx0s3w-control {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: var(--text-color4) !important; /* Força a cor correta */
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: gray !important; /* Força a cor no hover */
}
