.initialPage {
  height: 100%;
  width: 100%;
  /* background-image: url('../../assets/background.jpg');  */
  background-color: #5D6D7E;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
}
.logo {
  max-width: 100px;
  max-height: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 60px;
  gap: 20px;
}
.welcomeBoard{
  text-align: center;
  color: white;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.appPresentation{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  gap: 20px;

}
.card1 {
  position: relative; 
  text-align: center;
  background-color: white;
  border-radius: 40px;
  overflow: hidden; 
  padding-top: 56.25%;
  width: 100%; 
}

.card1Video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: none; 
}

.card1IMG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: none; 
}

.card2 {
  display: flex;
  flex-direction: row; 
  text-align: left;
  background-color: white;
  border-radius: 40px;
  overflow: hidden;
  align-items: center; 
  justify-content: center;
}

.card2ImageSection, .card2TextSection {
  flex: 1; 

}

.card2ImageSection {
  flex: 1; 
}

.card2TextSection {
  flex: 2; 
  padding: 20px; 
  font-size: 1.5rem;
  padding: 40px;
}

.card2IMG {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 40px;
}

@media (max-width: 768px) {
  .card2 {
    flex-direction: column; 
  }

  .card2ImageSection, .card2TextSection {
    flex: none; 
    width: 100%; 
  }

  .card2TextSection {
    order: -1; 
  }
}


.title {
  font-size: 3rem;
  animation: fadeInDown 2s ease-out;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
  animation: fadeInUp 2s ease-out;
}

.buttons {
  justify-content: center;
  margin-top: 80px;
  display: flex;
  gap: 20px;
}


@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*/ cards/*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.slideIn {
  animation: slideInFromLeft 2.5s ease-out;
}




@media (max-width: 768px) {
  .card2 {
    flex-direction: column; 
  }

  .card2ImageSection, .card2TextSection {
    flex: none; 
    width: 100%; 
  }

  .card2TextSection {
    order: -1; 
  }

}
