.ReportPage {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;

  align-items: center;
  justify-content: center;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reportPanel {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adds space between the buttons */
  margin-top: 20px; /* Optional: adds space between the heading and buttons */
  margin-bottom: 100px;
}

.GenerateButton {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border: none;
  background-color: var(--btn-background1);
  color: var(--btn-color1);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.GenerateButton:hover {
  background-color: var(--btn-background2);
}

@media (max-width: 768px) {
  .ReportPage {
    padding: 10px;
  }
}
