.taskTable {
  width: 400px;
  height: 100%;
  overflow-y: hidden;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  margin-left: 10px;
  padding: 0px 0px 0px 20px;
}
.taskTable::-webkit-scrollbar {
  display: none; 
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 50px;

}

.thead {
  background-color: #f9f9f9;
}

.tr {
  position: relative; 
}

.th, .td {
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 2px; 
  position: relative; 
  max-width: 40px;
  
}

.th {
  background-color: #f1f1f1;
  font-weight: bold;
  height: 23px;
}


.tbody .tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tbody .tr:hover {
  background-color: #f1f1f1;
}

.td {
  height: 40px;
  color:var(--text-color5);

}

.td:last-child {
  border-right: none;
}

.td::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #ffffff; 
}
