.mainContent {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 2px);
    flex-direction: column;

  }
  
  .banner {
    background-color: rgba(231, 237, 242, 0.2);
    padding: 15px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .form {
    background-color: rgba(255, 255, 255, 0.3);
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    animation: slide-in 0.5s ease-out;
    transition: transform 0.2s ease;
    
  }
  
  .form:hover {
    transform: scale(1.02);
    box-shadow: -3px 3px 30px rgba(0, 0, 0, 0.2);
  }
  
  .input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s, box-shadow 0.3s;
    
  }
  
  .button:hover {
    background-color: #d7e2ef;
  }
  