.container {
  display: flex;
  justify-content: flex-start;

  flex-direction: column;
  width: 100%;
  height: calc(100% - 100px);


}
.projectPlanningHeader{
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: row;
  width: 100%;
  height: 50px;
  gap: 20px;
}
.projectPlanningHeader h3{
  font-size: 2em;
  margin: 0px;
  padding: 0px;
  align-self: center;
  justify-self: center;
}
.projectPlanningHeader p{
  font-size: 1.3em;
  margin: 0px;
  padding: 0px;
  align-self: center;
  justify-self: center;
}

.projectPlanningBody{
  display:flex;

  width: 100%;
  height: 100%;
}
.ganttChart{
  width: 80%;

}
.taskTable{
  width: 20%;
  height: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-color4);
  cursor: pointer;
}
.state {

  color: var(--text-color4);
}
.statusIndicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  
}

@media (max-width: 768px) {
  .container {
    margin-bottom: 10px;
  }
}