.SettingsPage {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewMode {
  background-color: var(--disabled-background);
  cursor: not-allowed;
}

.editMode {
  background-color: var(--text-color2);
}

.configPanel {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.configTitle {
  margin-bottom: 20px;
}

.configTitle h3 {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.configTable {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--text-color2);
  margin-bottom: 30px;
}

.configTable td {
  padding: 0.5rem;
  border: none;
}

.configTable input[type="number"] {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.configTable button {
  margin-left: 1rem;
  padding: 10px;
  background-color: var(--btn-background1);
  color: var(--btn-color1);
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.configTable button:hover {
  background-color: var(--btn-background2);
}


/* Styles for smaller screens */
@media (max-width: 550px) {

  .configTitle h3 {
    font-size: 1.2em;
  }

  .configPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .configTable {
    width: 100%;
    max-width: auto;
    overflow-x: auto;
    border-collapse: collapse;
    background-color: var(--text-color2);
    margin-bottom: 30px;
  }
  
  .configTable td {
    padding: 0.5rem;
    border: none;
    width: auto;
    text-align: center;
  }

  .configTable td:last-child {
    margin-bottom: 0;
  }

  .configTable input[type="number"] {
    width: 80%;
    box-sizing: border-box;
    text-align: center;
  }

  .configTable button {
    width: 80%;
    margin-left: 0;
    margin-top: 10px;
  }
}
