.container {
  padding: 20px;
  background-color: var(--atribute-editor-background);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 18px;
  text-align: left;
  margin: 10px;
}

.controlPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--atribute-editor-background);
  padding-right: 5px;
}

.userListContainer {
  display: flex;
  flex-direction: column;
  min-height: 30px;
  max-height: 200px;
  overflow-y: auto;
}

.userList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user {
  padding: 8px;
  border: 0px solid #ddd;
  border-radius: 4px;
  background-color: var(--listItem-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.select {
  width: 100%;
}

.addBtn {
  background-color: var(--btn-background2);
  color: #fff;
  padding: 4px 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 10%;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBtn:hover {
  background-color: var(--btn-background1);
}

.searchInput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}

.searchInput:focus {
  border-color: var(--btn-background1);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



/* Styles for smaller screens */
@media (max-width: 550px) {

  .container h2 {
    font-size: 14px;
    text-align: left;
  }

  .userListContainer {
    min-height: 20px;
    max-height: 150px;
  }

  .searchInput {
    font-size: 12px;
  }

  .addBtn {
    padding: 2px 4px;
  }

  .addBtn span {
    display: none;
  }

  .addBtn svg {
    width: 16px;
    height: 16px;
  }
  
}
