.profileContainer {
  
    display: flex;
    width: 100%;
    color: var(--text-color4);
    flex-direction: column;
  }
  
  
  .userHeader {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: left;
    justify-items: center;
    width: 100%;
    margin-top: 0px;
    color: var(--text-color4);
    background-color: aqua;
    gap: 20px;
  }
  
  .userPhoto {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
    padding: 50px;
  }
  
  .username {
    font-size: 24px;
    color: var(--text-color4);
    align-self: center;
    align-items: center;
    justify-self: center;

  }

  .profileBtns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;
    align-items: center;
    justify-self: center;
  }
  
  .formsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0px;
    color: var(--text-color4);
  }

  
  
  .toggleFormButton {
    margin-top: 50px;
    padding: 50px;
  }

  
  @media (max-width: 768px) {
    .profileContainer {
      flex-direction: column;
      align-items: center;
      gap: 0px;
    }
  
    .userHeader {
      align-items: center;
      margin-right: 0;
    }
  
    .formsContainer {
   
      align-items: center;
      width: 100%; 
    }
    .sec1 {
    }
  
  }
  