.password{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: var(--text-color4);
 
  width: 100%;
  align-self: center;
}
.passwordForm{
  display: flex;
  flex-direction: column;
  color: var(--text-color4);

  gap: 20px;
  padding: 20px;
  margin-bottom: 10px;
  max-width: 600px;
  width: 100%;

  align-self: center;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px;
    max-width: 600px;
    color: var(--text-color4);


    width: 100%;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    color: var(--text-color4);
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .input[type="password"],
  .input[type="submit"] {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: var(--text-color4);
    width: 100%; 
    background-color: transparent; 
    border: none; 
    border-bottom: 2px solid #e0e0e0; 
  }
  
  .input[type="submit"] {
    border-radius: 5px;
    overflow: hidden;
    height: 36px; 
    width: 33%; 
    padding: 0 10px; 
    font-size: 14px; 
    background-color: var(--tertiary-color); 
    color: var(--text-color); 
    border: none; 
    white-space: nowrap; 
    transition: background-color 0.3s, color 0.3s, transform 0.2s; 
  }
  
  .input[type="submit"]:hover {
    background-color: var(--quaternary-color);
    color: var(--text-color2); 
    transform: scale(1.03); 
  }
  .form:hover {
    transform: scale(1) !important;
    box-shadow: none;
  }
  .saveButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 20px;

  }

   .saveButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--btn-background2);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  .saveButton:hover {
    width: 80px;
    border-radius: 25px;
    background-color: var(--btn-background1);
  }
  
  .svgIcon {
    width: 20px;
    height: 20px;
    fill: white;
    transition: transform 0.3s;
  }
  
  .saveButton:hover .svgIcon {
    transform: translateY(400%);
  }
  
  .btnText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    opacity: 0;
    transition: all 0.3s;
    color: white;
    font-size: 14px;
  }
  
  .saveButton:hover .btnText {
    bottom: 10px;
    opacity: 1;
  }
  