.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  width: 100%;
  color: var(--text-color4);
}

.projectHeader {
  text-align: center;
  color: var(--text-color4);
}

.statusContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color4);
}

.statusDisplay {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color4);
}

.statusIndicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.stateActions {
  display: flex;
  gap: 10px;
}

.smallButton {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border: none;
  background-color: var(--btn-background1);
  color: var(--btn-color1);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.smallButton:hover,
.smallButton:focus {
  background-color: var(--btn-background2);
}
.cancelBtn{
  background-color: var(--negative-color);

}


.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 800px;
  width: 100%;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  width: 100%;

}

.label {
  color: var(--text-color4);
  font-weight: 600;
  margin-bottom: 8px;
}

.input,
.select,
.datePicker {
  border: 1px solid #ccc;
  font-size: 16px;
  color: var(--text-color);
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e0e0e0;
}

.select:disabled,
.datePicker:disabled,
.input:disabled {
  color: #666;
  background-color: transparent;
  cursor: not-allowed;
}

.textarea {
  width: 100%;
  height: 50px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  resize: none;
  background-color: transparent;
  color: var(--text-color);
}

.textarea:focus {
  border-color: var(--btn-background1);
}

.descriptionText,
.motivationText {
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
  max-height: 200px;
  overflow-y: auto;
}

.buttonContainer {
  width: 30%;
}

.button:hover,
.button:focus {
  background-color: var(--btn-hover-color);
  transform: scale(1.05);
  outline: none;
}

.button:active {
  background-color: var(--btn-active-color);
  transform: scale(0.98);
}
