.projectContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: center;
  width: 100%;
  color: var(--text-color4);
}



.statusContainer {
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  color: var(--text-color4);
  padding: 20px;
  gap: 30px;
}

.statusDisplay {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color4);
}

.statusIndicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.stateActions {
  display: flex;
  gap: 10px;
}

.smallButton {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border: none;
  background-color: var(--btn-background1);
  color: var(--btn-color1);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.smallButton:hover,
.smallButton:focus {
  background-color: var(--btn-background2);
}
.cancelBtn{
  background-color: var(--negative-color);

}


.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
 justify-content: center;
 justify-self: center;
 align-items: center;

  width: 100%;
}
.form{
  display: flex;
  flex-direction: row;
  max-width: 1200px;


  width: 100%;

}
.FormSec1{
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  width: 100%;
}
.FormSec2{
  display: flex;
  flex-direction: column;
  padding: 30px;
 
  width: 100%;
}

.label {
  color: var(--text-color4);
  font-weight: 600;
  margin-bottom: 8px;
}

.input,
.select,
.datePicker {
  border: 1px solid #ccc;
  font-size: 16px;
  color: var(--text-color);
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #e0e0e0;
}

.select:disabled,
.datePicker:disabled,
.input:disabled {
  color: #666;
  background-color: transparent;
  cursor: not-allowed;
}

.textarea {
  width: 100%;
  height: 50px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  resize: none;
  background-color: transparent;
  color: var(--text-color);
}

.textarea:focus {
  border-color: var(--btn-background1);
}

.descriptionText,
.motivationText {
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
  max-height: 200px;
  overflow-y: auto;
}

.saveButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 20px 0px;

}

 .saveButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--btn-background2);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.saveButton:hover {
  width: 80px;
  border-radius: 25px;
  background-color: var(--btn-background1);
}

.svgIcon {
  width: 20px;
  height: 20px;
  fill: white;
  transition: transform 0.3s;
}

.saveButton:hover .svgIcon {
  transform: translateY(400%);
}

.btnText {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  opacity: 0;
  transition: all 0.3s;
  color: white;
  font-size: 14px;
}

.saveButton:hover .btnText {
  bottom: 10px;
  opacity: 1;
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;
  }
  .FormSec1{
    padding: 10px;
  }
  .FormSec2{
    padding: 10px;
  }
}