.Profile{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 40px;  
  color: var(--text-color4);

}
.formProfile {
  
    display: flex;
    flex-direction: row;
    padding: 1px;
    width: 100%;
    margin-bottom: 40px;
    color: var(--text-color4);
    gap: 25px;
    justify-content: center;
  }
  .sec1{
    display: flex;
    flex-direction: column;
  
    padding: 20px;
    width: 100%;
    margin-bottom: 40px;
    color: var(--text-color4);
    max-width: 500px;
  }
  .sec2{
    display: flex;
    flex-direction: column;

    padding: 20px;
    width: 100%;
    margin-bottom: 40px;
    color: var(--text-color4);
    max-width: 500px;
  }

.inputGroup {
  grid-row: auto;
  display: flex;
  flex-direction: column;
  color: var(--text-color4);
}
.inputGroupBigBox{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 10px;
  color: var(--text-color4);
}

.label {
  color: var(--text-color4);
  font-weight: 600;
  margin-bottom: 8px;
}

.input[type="text"],
.input[type="email"],
.input[type="tel"],
.input[type="submit"],
.select {
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: var(--text-color4);
  width: 100%; 
  background-color: transparent; 
  border: none; 
  border-bottom: 2px solid #e0e0e0;
}

.select:disabled {
  color: var(--text-color4);
  background-color: transparent;
  cursor: not-allowed;
}


.input[type="submit"], .editButton[type="button"] {
  border-radius: 5px;
  overflow: hidden;
  width: 33%; 
  height: 36px; 
  padding: 0 10px; 
  font-size: 14px; 
  background-color: var(--tertiary-color);
  color: var(--text-color); 
  border: none; 
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s, transform 0.2s; 
}

.input[type="submit"]:hover, .editButton[type="button"]:hover {
  background-color: var(--quaternary-color); 
  color: var(--text-color2); 
  transform: scale(1.03); 
}

.formProfile:hover {
  transform: scale(1) !important;
  box-shadow: none;
}


.textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px;
  flex-grow: 1;
  height: 172px;
  overflow-y: auto ;
  resize: none;
}

.biographyText {
  padding: 10px;
  flex-grow: 1;
  height: 150px;
 
  overflow-y: auto;
  resize: none;
  border: 2px solid #e0e0e0;
}
/* :global(.quillEditor) {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
}

:global(.ql-container) {
  max-height: 120px;
  overflow-y: auto;
  font-size: 16px;
  background-color: #fff;
}

:global(.ql-toolbar) {
  border-radius: 5px 5px 0 0;
  background-color: #ccc;
}

:global(.ql-editor) {
  max-height: 150px;
  overflow-y: auto;
  font-size: 16px;
} */


/* .inputFile{
  border: solid 1px #ccc;
  color: transparent;
  background-color: transparent;
  opacity: 0;
}
.updateFilebtn{
  flex-grow: 1;
  display: flex;
}
   */


@media(max-width: 768px) {
  .formProfile {
    flex-direction: column;
    gap: 0px;
  }

  .sec1 {
    max-width: 100%;
  }

  .sec2 {
    max-width: 100%;
  }
}
