.Profile{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin-bottom: 40px;  

}
.formProfile {
  
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 40px;
  }

.inputGroup {
  display: flex;
  flex-direction: column;
}
.inputGroupBigBox{
  display: flex;
  height: 200px;
  flex-direction: column;
  margin-bottom: 10px;

}

.label {
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 8px;
}

.input[type="text"],
.input[type="email"],
.input[type="tel"],
.input[type="submit"],
.select {
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: var(--text-color);
  width: 100%; 
  background-color: transparent; 
  border: none; 
  border-bottom: 2px solid #e0e0e0;
}

.select:disabled {
  color: #666; 
  background-color: transparent;
  cursor: not-allowed;
}


.input[type="submit"], .editButton[type="button"] {
  border-radius: 5px;
  overflow: hidden;
  width: 33%; 
  height: 36px; 
  padding: 0 10px; 
  font-size: 14px; 
  background-color: var(--tertiary-color);
  color: var(--text-color); 
  border: none; 
  white-space: nowrap;
  transition: background-color 0.3s, color 0.3s, transform 0.2s; 
}

.input[type="submit"]:hover, .editButton[type="button"]:hover {
  background-color: var(--quaternary-color); 
  color: var(--text-color2); 
  transform: scale(1.03); 
}

.formProfile:hover {
  transform: scale(1) !important;
  box-shadow: none;
}

/* Global styles for ReactQuill */
.biographyText {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  max-height: 200px;
  overflow-y: auto ;
}
:global(.quillEditor) {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
}

:global(.ql-container) {
  max-height: 120px;
  overflow-y: auto;
  font-size: 16px;
  background-color: #fff;
}

:global(.ql-toolbar) {
  border-radius: 5px 5px 0 0;
  background-color: #ccc;
}

:global(.ql-editor) {
  max-height: 150px;
  overflow-y: auto;
  font-size: 16px;
}


/* .inputFile{
  border: solid 1px #ccc;
  color: transparent;
  background-color: transparent;
  opacity: 0;
}
.updateFilebtn{
  flex-grow: 1;
  display: flex;
}
   */