

.asideExpanded {
  width: 15%;
  background-color: var(--background-color1);
  border-right: solid 2px var(--card-border);
  transition: width 0.5s ease-in-out;
  width: 220px;
}

.asideCollapsed {
  width: 4%;
  background-color: var(--background-color1);
  border-right: solid 2px var(--card-border);
  transition: width 0.5s ease-in-out;
  min-width: 50px;
}

.toggleButton {
  cursor: pointer;
  padding: 10px;
  border: none;
  background: transparent;
  color: var(--text-color4);
  align-self: center;
  font-size: 20px;
}

.menuItem, .menuItem a {
  margin: 20px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  position: relative; 
  color: var(--text-color4);
  text-decoration: none;
  height: 20px;
  border-radius: 3px;
  overflow: hidden;
}

.menuItem.active {
  background-color: var(--active-aside-item-color); /* Define a cor de fundo para o item ativo */
}
.icon {
  margin-right: 10px; 
  transition: transform 0.5s ease; 
}

.icon.active {
  background-color: var(--selected-icon-background); /* Define a cor de fundo ao redor do ícone ativo */
  border-radius: 50%; /* Torna o fundo do ícone em formato de círculo */
  padding: 5px;
}

.menuText {
  opacity: 0;
  transform: translateX(-100%);
  white-space: nowrap;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.asideExpanded .menuText {
  display: block; 
  opacity: 1;
  transform: translateX(0);

  transition: opacity 0.5s ease 0.5s, transform 0.5s ease 0.5s; 
}

.asideCollapsed .menuText {
  opacity: 0;
  transform: translateX(-100%);
  transition: none; 
  display: none; 
}

.menuItem:hover, .menuItem a:hover {
  background-color: var(--hover-aside-item-color); 
}
.asideExpanded, .asideCollapsed {
  transition: width 0.5s ease-in-out, padding 0.5s ease-in-out;
}
.menuTextHidden {
  opacity: 1;
  transform: translateX(-100%);
  transition: none;
  display: none;
}