.mainContent {

  height: 80%;
  width: 80%;
  align-self: center;
  justify-self: center;
  margin: 60px, auto ;
  max-width: 500px;
}
.formContent {
  padding: 25px;
  display: flex;

}
.registrationForm {
  background-color: white; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  animation: slide-in 0.5s ease-out;
  transition: transform 0.2s ease;
}
.formSection1{
  width: 100%;

}


.input[type="text"],
.input[type="password"],
.input[type="email"],
.input[type="number"],
.input[type="date"],
.input[type="submit"],
.input[type="tel"],
.select {
  width: calc(100% - 20px); 
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.select{
  width: 100%
}
.btnDiv{
  display: flex;
  padding: 10px;
  gap: 10px;
}
/* .imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.imagePreview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  margin-bottom: 10px;
}

.fileInput {
  display: none;
} */

/* .labelButton {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.labelButton:hover {
  background-color: #0056b3;
} */
/* .passwordStrength {
  margin-top: 5px;
} */
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* .infoIcon {
  margin-left: 5px;
  cursor: pointer;
} */