.mainContent {
  display: flex;
  height: 100%;
  width: 100%;
  align-self: center;
  justify-self: center;
}
.formContent {
  padding: 25px;
  display: flex;
}
.registrationForm {
  background-color: rgba(255, 255, 255, 0.3); 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  animation: slide-in 0.5s ease-out;
  transition: transform 0.2s ease;
}
.formSection1{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.formSection2{
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.input[type="text"],
.input[type="password"],
.input[type="email"],
.input[type="number"],
.input[type="date"],
.input[type="submit"],
.input[type="tel"],
.select {
  width: calc(100% - 20px); 
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.select{
  width: 100%
}
