.main {
  height: 100vh;
  width: 100%;
  background-image: url('../../assets/background.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: row;
  margin: 40px;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 768px) {

}
