.main{
  width: 100%;
  height: 100%;
  background-color: aliceblue;
}

.board {
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  align-self: center;
  padding: 0; 


}

@media (max-width: 768px) {

}
