.legendContainer {
    position: relative;
    display: inline-block;
  }
  
  .infoIcon {
    background: #ccc;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
  }
  
  .legendContent {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    width: 280px;
    position: absolute;
    z-index: 10;
    left: 30px;
    top: -10px;
  }
  
  .legendItem {
    margin-bottom: 5px;
  }
  
  @media (max-width: 768px) {
    .legendContent {
      left: 0;
      top: 30px;
    }
  }
  